.home-wrapper{
    position: relative;
    .modal{
        position: fixed;
        bottom:-300px;
        left: 50%;
        z-index: 1000;
        transform: translateX(-50%);
        box-shadow: 0 10px 40px -10px rgba(0,0,0,.3);
        border-radius: 8px;
        background-color: #fff;
        transition: all 200ms ease;
        width: 700px;
        padding: 10px 20px;
        &.show{
            bottom: 0px;
        }
        .mtitle{
            font-size: 18px;
            font-family: "HN-Bold";
            margin-bottom: 20px;
        }
        .mcontent{
            .imgurl{
                outline: none;
                width: 100%;
                resize: none;
                border-radius: 4px;
                padding: 5px 10px;
                font-family: "HN-Regular";
                font-size: 16px;
                box-sizing: border-box;
            }
        }
        .maction{
            margin-top: 10px;
            display: flex;
            justify-content: flex-end;
        }
    }
    .title{
        padding: 20px 30px;
        text-align: center;
        font-family: "HN-Bold";
        font-size: 42px;
        line-height: 42px;
    }
    .subtitle{
        margin-top: 20px;
        text-align: center;
        font-size: 18px;
    }
    .type-wrap{
        margin: 40px 0px 0px;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        border-bottom: 1px solid #f1f1f1;
        text-align: center;     
        max-width: 980px;
        margin: 40px auto 0px auto;   
        .type-item{
            list-style: none;
            margin-bottom: -1px;
            font-weight: bold;
            cursor: pointer;
            &:hover{
                .txt{
                    color:#222;
                }
            }
            &::after{
                content: ' ';
                height: 1px;
                width: 0;
                transition: 0.3s ease-out width;
                margin: auto;
                display: block;
                background-color: #1F77E0;
            }
            &.active{
                &::after{
                    width:100%;
                }
                .txt{
                    color:#000;
                }
            }
            .circle{
                width:86.6px;
                height: 86.6px;
                border-radius: 50%;
                margin:auto;
            }
            .txt{
                color:#999;
                margin: 10px auto;
                transition: all 200ms ease;
            }
        }
    }
    .main-section{
        max-width: 1100px;
        margin: 60px auto 0px auto;
        display: flex;
        align-items: flex-start;
        .left-input{
            width: 50%;
            box-sizing: border-box;
            .image-input-container{
                padding: 0px 0px 10px 0px;
                background: white;
                border-radius: 8px;
                box-shadow: 0 10px 40px -10px rgba(0,0,0,.3);
                margin-right: 20px;
                width: 100%;
                .titlebar{
                    position: relative;
                    border-bottom: 1px solid rgb(238, 238, 238);
                    .actions{
                        width:140px;
                        display: flex;
                        margin: 16px 0px 16px 16px;
                        position: absolute;
                        .b{
                            display: block;
                            width: 12px;
                            height: 12px;
                            margin-right: 6px;
                            border-radius: 100px;
                            &.c{
                                background: rgb(255, 98, 88);
                            }
                            &.min{
                                background: rgb(255, 189, 46);
                            }
                            &.max{
                                background: rgb(41, 205, 66);
                            }
                        }
                    }
                    .ttext{
                        font-size: 15px;
                        line-height: 40px;
                        text-align: center;
                        color: rgb(0, 0, 0);
                        align-self: center;
                        margin: 0px auto;
                        font-family: "HN-Bold";
                        text-transform: uppercase;
                    }
                }
                .default-images{
                    margin-top: 10px;
                    display:flex;
                    flex-wrap: wrap;
                    align-items: center;
                    .default-img{
                        width: 60px;
                        height:60px;
                        margin:7px 7px;
                        box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
                        overflow: hidden;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        cursor: pointer;
                        transition: all 0.2s ease;
                        opacity: 0.6;
                        &:hover{
                            transform: scale(1.02);
                        }
                        &.active{
                            opacity: 1;
                            transform: scale(1.02);
                        }
                    }
                }
            }
            .or{
                text-align: center;
                font-size: 22px;
                font-family: "HN-Bold";
                color: #555;
                margin: 20px 0px;
            }
        }
        
        .result-container{
            width: 50%;
            box-sizing: border-box;
            margin-left: 20px;
            .hv{
                text-align: center;
                margin-bottom: 10px;
            }
            .current-selected-image{
                width: 100%;
                height: 300px;
                border-radius: 8px;
                box-shadow: 0 10px 40px -10px rgba(0,0,0,.3);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
                &:hover{
                    .tags-container{
                        opacity: 1;
                        pointer-events: all;
                    }
                }
                .loader{
                    position: absolute;
                    z-index: 11;
                    top:0;
                    left: 0;
                    right:0;
                    bottom:0;
                    background-color: rgba(0,0,0,0.8);
                    border-radius: 8px;
                    background-image: url("../../images/loader.svg");
                    background-size: 80px;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                .tags-container{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 0;
                    pointer-events: none;
                    transition: all 0.3s ease-out;
                    background-color: rgba(0, 0, 0, 0.4);
                    .ppup{
                        position: absolute;
                        width: 190px;
                        padding: 5px 0px 10px 0px;
                        border-radius: 8px;
                        box-shadow: 0 10px 40px -10px rgba(0,0,0,.3);
                        background-color: #fff;
                        color: #000;
                        &.x1{
                            left: 20px;
                            top:40px;
                        }
                        &.x2{
                            left: 240px;
                            top:10px;
                        }
                        &.x3{
                            left: 50px;
                            top:140px;
                        }
                        &.x4{
                            left: 160px;
                            top:230px;
                        }
                        &.x5{
                            left: 60%;
                            top:150px;
                        }
                        &::after{
                            content: " ";
                            width: 0; 
                            height: 0; 
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            position: absolute;
                            border-top: 10px solid #fff;
                            bottom: -10px;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                        .cname{
                            font-family: "HN-Bold";
                            font-size: 11px;
                            letter-spacing: 1.6px;
                            text-transform: capitalize;
                            margin-bottom: 10px;
                            padding: 0px 10px 5px 10px;
                        }
                        .prog{
                            margin: 0px 10px;
                            height: 4px;
                            background-color: #dedede;
                            border-radius: 3px;
                            .aprog{
                                background-color:#f00;
                                height: 100%;
                                border-radius: 3px;
                            }
                        }
                        .ptext{
                            font-size: 10px;
                            margin: 5px 10px 0px 10px;
                            letter-spacing: 1.6px;
                        }
                        .reso{
                            margin: 0px 10px;
                            font-family: "HN-Regular";
                            font-size: 12px;
                            letter-spacing: 1.3px;
                        }
                    }
                }
                .jbtn{
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    z-index: 10;
                }
                .json-container{
                    position: absolute;
                    top:40px;
                    left:50px;
                    width:420px;
                    box-shadow: 0 10px 40px -10px rgba(0,0,0,.3);
                    display: none;
                    background-color: rgba(255,255,255,0.9);
                    border-radius: 8px;
                    &.show{
                        display: block;
                    }
                    .titlebar{
                        position: relative;
                        border-bottom: 1px solid rgb(238, 238, 238);
                        .actions{
                            width:140px;
                            display: flex;
                            margin: 16px 0px 16px 16px;
                            position: absolute;
                            .b{
                                display: block;
                                width: 12px;
                                height: 12px;
                                margin-right: 6px;
                                border-radius: 100px;
                                cursor: pointer;
                                &.c{
                                    background: rgb(255, 98, 88);
                                }
                                &.min{
                                    background: rgb(255, 189, 46);
                                }
                                &.max{
                                    background: rgb(41, 205, 66);
                                }
                            }
                        }
                        .ttext{
                            font-size: 15px;
                            line-height: 40px;
                            text-align: center;
                            color: rgb(0, 0, 0);
                            align-self: center;
                            margin: 0px auto;
                            font-family: "HN-Bold";
                            text-transform: uppercase;
                        }
                    }
                    .json-content{
                        height: 300px;
                        overflow-y: auto;
                        color: rgb(21, 50, 147);
                    }
                }
            }
        }
    }
}



.tab-header{
    display: flex;
    align-items: center;
    margin-top: 10px;
    .input-tab{
        padding: 10px 15px;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        cursor: pointer;
        opacity: 0.6;
        transition: all 0.3s ease-out;
        box-sizing: border-box;
        min-width: 250px;
        letter-spacing: 1.6px;
        flex:1;
        &.selected{
            font-weight: bold;
            opacity: 1;
            &::after{
                width: 100%;
            }
        }
        &::after{
            content: ' ';
            height: 1px;
            width: 0;
            transition: 0.3s ease-out width;
            margin: 5px 0px;
            display: block;
            background-color: #1F77E0;
        }
    }
}
.tab-content{
    padding: 10px 15px;
    .imgurl{
        outline: none;
        width: 100%;
        resize: none;
        border-radius: 4px;
        padding: 5px 10px;
        font-family: "HN-Regular";
        font-size: 16px;
        box-sizing: border-box;
    }
    .go-btn{
        margin: 10px auto;
    }
}

.btn{
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    padding: 10px 20px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px;
    outline: 0px;
    background: white;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    transition: all 0.2s ease-out 0s;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.05);
    border-image: initial;
    border-radius: 4px;
    &.black{
        color:#fff;
        background-color: #000;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 20px;
    }
}