html,body{
    margin: 0;
    font-family: "HN-Regular";
    height: 100%;
    -webkit-font-smoothing:antialiased;
}
div{
    box-sizing: border-box;
}

#root{
    height: 100%;
    main{
        height: 100%;
    }
}

.go-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#218be6;
    border: none;
    border-radius: 0px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    appearance: none;
    outline: none;
    padding: 10px 20px;
    box-shadow: 0 2px 10px 0px rgba(0,0,0,.3);
    transition: all 0.2s ease-out;
    &:hover{
        box-shadow: 0 4px 10px 0px rgba(0,0,0,.35);
    }
}

.form-field{
    position: relative;
    margin-bottom: 50px;
    height: 70px;
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    .err{
        position: absolute;
        font-size: 12px;
        color: red;
    }
    
    .inp{
        box-sizing: border-box;
        appearance: none;
        outline: none;
        border: none;
        border-bottom: 1px solid #999;
        width: 100%;
        height: 100%;
        font-size: 18px;
        padding: 5px 10px;
        padding-left: 70px;
        padding-right: 105px;
        position: relative;
        border-radius: 10px;
        background-image: url("../images/search.svg");
        background-size: 30px;
        background-position:25px 50%;
        background-repeat: no-repeat;
        color:#484848;
        &::placeholder{
            color:#484848;
        }
        &:focus{
            border-bottom-color: #0055e8;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }
        &:valid, &:focus{
            & ~ label{
                bottom: 35px;
                color:#0055e8;
                font-size: 16px;
            }
        }
    }
    .srch-btn{
        position: absolute;
        right: -1px;
        top:0px;
        background-image: url("../images/search-white.svg");
        background-size: 30px;
        width: 70px;
        height: 70px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #7d97ff;
        box-shadow: -1px 0px 1px 0px #7d97ff;
        cursor: pointer;
        transition: all 100ms ease;
        &:hover{
            background-size: 32px;
        }
    }
    .indicator{
        position: absolute;
        right: 0px;
        bottom: -20px;
    }
    .textar{
        box-sizing: border-box;
        appearance: none;
        outline: none;
        border:none;
        border-bottom: 1px solid #999;
        width: 100%;
        resize: none;
        font-size: 20px;
        height: 40px;
        box-shadow: none;
        &:valid, &:focus{
            & ~ label{
                bottom: 45px;
                color:#0055e8;
                font-size: 16px;
            }
        }
    }

    .autocomplete-wrap{
        position: absolute;
        min-height: 50px;
        max-height: 400px;
        left: 0;
        right: 0;
        z-index: 20;
        padding: 10px 0px;
        box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.3);
        background-color: #fff;
        overflow: auto;   
        .countries{
            padding: 10px 0px;
            .autocomplete-item{
                margin: 5px 0px;
                padding: 5px 20px;
                font-family: "Muli-Regular";
                font-size: 18px;
                cursor: pointer;
                &:hover{
                    background-color: rgba(0,0,0,0.05);
                }
            }
        }
        .no-country{
            text-align: center;
            padding: 5px 20px;
        }
    }
}

.autocomplete-wrap{
    position: absolute;
    min-height: 50px;
    max-height: 400px;
    left: 0;
    right: 0;
    z-index: 20;
    padding: 10px 0px;
    box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.3);
    background-color: #fff;
    overflow: auto;   
    .items{
        padding: 10px 0px;
        .autocomplete-item{
            margin: 5px 0px;
            padding: 5px 20px;
            font-family: "HN-Regular";
            font-size: 18px;
            cursor: pointer;
            &:hover{
                background-color: rgba(0,0,0,0.05);
            }
        }
    }
    .no-item{
        text-align: center;
        padding: 25px 20px;
        font-size: 22px;
        font-family: "HN-Regular";
        letter-spacing: 1.5px;
    }
}

.blue-header-wrap{
    background:linear-gradient(to right, #7d97ff, #91b9ff);
    padding: 15px 0px;
    box-shadow: 0 2px 6px 0 rgba(186, 186, 186, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    .width-wrap{
        padding: 0px 30px;
        margin: 0px auto;
        display: flex;
        align-items: center;
        color: #fff;
        @include containerWidth;
        .brand{
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 1.4px;
            font-weight: bold;
            margin-right: 30px;
            &.second{
                margin-right: 20px;
            }
            font-family: "HN-Bold";
        }
        .search-wrap{
            margin: 0px 10px;
            flex:1;
            display: flex;
            justify-content: center;
            .search-inp{
                box-sizing: border-box;
                appearance: none;
                border: 1px solid #fff;
                border-radius: 30px;
                background: none;
                color:#fff;
                padding: 10px 20px;
                padding-left: 40px;
                outline: none;
                background: url("../images/search-white.svg");
                background-size: 15px;
                background-position: 10px 50%;
                background-repeat: no-repeat;
                width: 100%;
                font-size: 12px;
                &::placeholder{
                    color: rgba(255, 255, 255, 0.73);
                }
            }
        }
        .icons{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .micon{
                cursor: pointer;
                margin: 0px 20px;
                position: relative;
                .notif-count{
                    position: absolute;
                    background-color: #ff6f7b;
                    top:-7px;
                    right:-7px;
                    border-radius: 50%;
                    width:20px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                }
                img{
                    width: 30px;
                }
            }
        }
    }
}